<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3>On the road again</h3>
  </div>
  <%= render partial: 'segments/sections/entry-details' %>
  <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
    <p>
      This be the main text
    </p>
  </div>
</div>
