<% @card_menu = ['About', 'Message', 'Favorites', 'Search'] %>
<% @card_classes = 'something-else' %>
<div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop <%= @card_classes %>">
  <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
    <i class="material-icons mdl-color-text--white" role="presentation">add</i>
    <span class="visuallyhidden">add</span>
  </button>
  <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
    <img src="https://getmdl.io/templates/blog/images/logo.png">
    +1,337
  </div>
  <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
    <div>
      <strong>The Newist</strong>
    </div>
    <% if @card_menu.present? %>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
      <% @card_menu.each do |item| %>
      <li class="mdl-menu__item"><%= item %></li>
      <% end %>
    </ul>
    <% end %>
    <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" role="presentation">more_vert</i>
      <span class="visuallyhidden">show menu</span>
    </button>
  </div>
</div>
