<div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col <%= @card_classes %>">
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3><a href="entry">Coffee Pic</a></h3>
  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo"></div>
    <div>
      <strong>The Newist</strong>
      <span>2 days ago</span>
    </div>
  </div>
</div>
