<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
  <div class="minilogo"></div>
  <div>
    <strong>The Newist</strong>
    <span>2 days ago</span>
  </div>
  <div class="section-spacer"></div>
  <div class="meta__favorites">
    425 <i class="material-icons" role="presentation">favorite</i>
    <span class="visuallyhidden">favorites</span>
  </div>
  <div>
    <i class="material-icons" role="presentation">bookmark</i>
    <span class="visuallyhidden">bookmark</span>
  </div>
  <div>
    <i class="material-icons" role="presentation">share</i>
    <span class="visuallyhidden">share</span>
  </div>
</div>
